﻿@page
@model MemberWebSys.Pages.OfferingBatches.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TOfferingBatches</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatches.BatchName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatches.BatchName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatches.Posted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatches.Posted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatches.LastUpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatches.LastUpdateBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatches.LastUpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatches.LastUpdateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatches.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatches.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatches.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatches.CreatedTime)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="TOfferingBatches.Date" />
        <input type="hidden" asp-for="TOfferingBatches.Time" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
