﻿@page
@model MemberWebSys.Pages.OfferingBatches.DetailsModel

<h4>奉獻批次</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.TOfferingBatches.Time)</label>
                <label>@Html.DisplayFor(model => model.TOfferingBatches.Time)</label>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.TOfferingBatches.Date)</label>
                <label>@Html.DisplayFor(model => model.TOfferingBatches.Date)</label>
            </div>
            <div class="form-group">
                <label>@Html.DisplayNameFor(model => model.TOfferingBatches.BatchName)</label>
                <label>@Html.DisplayFor(model => model.TOfferingBatches.BatchName)</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>