﻿@page
@model MemberWebSys.Pages.OfferingBatches.EditModel

<h2>修改奉獻批次</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="TOfferingBatches.Time" class="control-label"></label>
                <label class="form-control">@Html.DisplayFor(m => m.TOfferingBatches.Time)</label>
                <input type="hidden" asp-for="TOfferingBatches.Time" class="form-control" />
                <span asp-validation-for="TOfferingBatches.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatches.Date" class="control-label"></label>
                <input asp-for="TOfferingBatches.Date" class="form-control" type="date" />
                <span asp-validation-for="TOfferingBatches.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatches.BatchName" class="control-label"></label>
                <input asp-for="TOfferingBatches.BatchName" class="form-control" />
                <span asp-validation-for="TOfferingBatches.BatchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="修改" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">返回</a>
</div>
