﻿@page
@model MemberWebSys.Pages.OfferingBatches.IndexModel

@using Sakura.AspNetCore;

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h2>奉獻</h2>
                <br />
                <div class="row filter-form">
                    <form>
                        <div class="col-xs-3 col-md-2 form-group">
                            <p>
                                由
                                <input name="frmDate" type="date">
                            </p>
                        </div>
                        <div class="col-xs-3 col-md-2 form-group">
                            <p>
                                至
                                <input name="toDate" type="date">
                            </p>
                        </div>
                        <div class="col-xs-3 col-md-2 form-group">
                            <p>
                                @Html.DisplayNameFor(model => model.TOfferingBatches[0].Time)
                                <input name="batchNo" type="text">
                            </p>
                        </div>
                        <div class="col-sm-1 form-group">
                            <button class="btn btn-primary" type="submit">篩選</button>
                        </div>
                    </form>
                </div>
                <a asp-page="Create" asp-route-p=@Model.pNo>新增奉獻批次</a>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TOfferingBatches[0].Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TOfferingBatches[0].Time)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TOfferingBatches[0].BatchName)
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TOfferingBatches)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Time)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.BatchName)
                                </td>

                                <td>
                                    <a asp-page="./RelatedData" asp-route-date="@item.Date.ToString("yyyy-MM-dd")" asp-route-time="@item.Time" asp-route-pageNo=@Model.pNo>詳細</a> |
                                    <a asp-page="./Edit" asp-route-time="@item.Time" asp-route-pageNo=@Model.pNo>修改</a>
                                    @*<a asp-page="./Details" asp-route-time="@item.Time" asp-route-pageNo=@Model.pNo>Details</a> |*@

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <pager source="Model.TOfferingBatches" />
            </div>
        </div>
    </div>
</div>