﻿@page
@model MemberWebSys.Pages.OfferingBatches.RelatedBatchEditModel

<h4>修改奉獻批次</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="TOfferingBatch.Date" class="control-label"></label>
                <label class="form-control">@Html.DisplayFor(m => m.TOfferingBatch.Date)</label>
                <input type="hidden" asp-for="TOfferingBatch.Date" class="form-control" />
                <span asp-validation-for="TOfferingBatch.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatch.Time" class="control-label"></label>
                <label class="form-control">@Html.DisplayFor(m => m.TOfferingBatch.Time)</label>
                <input type="hidden" asp-for="TOfferingBatch.Time" class="form-control" />
                <span asp-validation-for="TOfferingBatch.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatch.InputSeq" class="control-label"></label>
                <label class="form-control">@Html.DisplayFor(m => m.TOfferingBatch.InputSeq)</label>
                <input type="hidden" asp-for="TOfferingBatch.InputSeq" class="form-control" />
                <span asp-validation-for="TOfferingBatch.InputSeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatch.PersonNo" class="control-label"></label>
                <input asp-for="TOfferingBatch.PersonNo" class="form-control" />
                <span asp-validation-for="TOfferingBatch.PersonNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatch.OfferingName" class="control-label"></label>
                <input asp-for="TOfferingBatch.OfferingName" class="form-control" />
                <span asp-validation-for="TOfferingBatch.OfferingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatch.TransactionType" class="control-label"></label>
                <input asp-for="TOfferingBatch.TransactionType" class="form-control" />
                <span asp-validation-for="TOfferingBatch.TransactionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TOfferingBatch.TransactionNo" class="control-label"></label>
                <input asp-for="TOfferingBatch.TransactionNo" class="form-control" />
                <span asp-validation-for="TOfferingBatch.TransactionNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="修改" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">返回</a>
</div>
