﻿@page
@model MemberWebSys.Pages.OfferingBatches.RelatedItemDeleteModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RelatedItemDelete</title>
</head>
<body>
</body>
</html>
