﻿@page "{handler?}"
@model MemberWebSys.Pages.OfferingBatches.RelatedDataModel
@using React.AspNet;



<h2>@Model.TOfferingBatches.Date.ToString("yyyy-MM-dd") | @Model.TOfferingBatches.Time | @Model.TOfferingBatches.BatchName</h2>

<p>
    <a asp-page="RelatedData" asp-route-date="@Model.TOfferingBatches.Date.ToString("yyyy-MM-dd")" asp-route-time="@Model.TOfferingBatches.Time" asp-route-create="true" asp-route-pageNo="@Model.PageNo">新增奉獻批次</a>
</p>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].OfferingName)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].PersonNoNavigation.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].PersonNoNavigation.PersonNo)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].PersonNoNavigation.MobilePhone)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].TransactionType)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].TransactionNo)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].TotalAmt)</th>
                <th>@Html.DisplayNameFor(model => model.TOfferingBatch[0].Remarks)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TOfferingBatch)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OfferingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonNoNavigation.FirstName) @Html.DisplayFor(modelItem => item.PersonNoNavigation.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonNoNavigation.MobilePhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        <a asp-page="./RelatedData" asp-route-date="@item.Date.ToString("yyyy-MM-dd")" asp-route-time="@item.Time" asp-route-inputSeq="@item.InputSeq">詳細</a> |
                        <a asp-page="./RelatedBatchEdit" asp-route-date="@item.Date.ToString("yyyy-MM-dd")" asp-route-time="@item.Time" asp-route-inputSeq="@item.InputSeq">修改</a> |
                        <a asp-page="./RelatedBatchDelete" asp-route-date="@item.Date.ToString("yyyy-MM-dd")" asp-route-time="@item.Time" asp-route-inputSeq="@item.InputSeq">刪除</a>
                    </td>

                </tr>
                @if (Model.TOfferingItems != null && Model.inputSeq == item.InputSeq)
                {
                    <tr>
                        <td><a asp-page="./RelatedData" asp-route-date="@item.Date.ToString("yyyy-MM-dd")" asp-route-time="@item.Time" asp-route-create="true" asp-route-inputSeq="@item.InputSeq">新增奉獻項目</a></td>
                        <td>
                            <table class="table">

                                <thead>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.TOfferingItems[0].OfferingType)</th>
                                        <th>@Html.DisplayNameFor(model => model.TOfferingItems[0].Amount)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var itemitem in Model.TOfferingItems)
                                    {

                                        <tr>
                                            <td>
                                                @itemitem.OfferingType.OfferingType
                                            </td>
                                            <td>
                                                @itemitem.Amount.Value.ToString("0.00")
                                            </td>
                                            <td>
                                                <a asp-page="./RelatedItemEdit" asp-route-date="@itemitem.Date.ToString("yyyy-MM-dd")" asp-route-time="@itemitem.Time" asp-route-create="true" asp-route-inputSeq="@itemitem.InputSeq" asp-route-offeringTypeId="@itemitem.OfferingTypeId">修改</a> |
                                                <a asp-page="./RelatedItemDelete" asp-route-date="@itemitem.Date.ToString("yyyy-MM-dd")" asp-route-time="@itemitem.Time" asp-route-create="true" asp-route-inputSeq="@itemitem.InputSeq" asp-route-offeringTypeId="@itemitem.OfferingTypeId">刪除</a>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.create)
                                    {
                                        <tr>
                                            <td>
                                                <select asp-for="TOfferingItems_Input.OfferingTypeId" class="form-control" asp-items="ViewBag.BatchTypeList"></select>
                                                <span asp-validation-for="TOfferingItems_Input.OfferingTypeId" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input asp-for="TOfferingItems_Input.Amount" class="form-control" />
                                                <span asp-validation-for="TOfferingItems_Input.Amount" class="text-danger"></span>
                                            </td>
                                            <td>
                                                <input asp-for="TOfferingItems_Input.Date" class="form-control" type="hidden" value=@Model.date.ToString("yyyy-MM-dd") />
                                                <input asp-for="TOfferingItems_Input.Time" class="form-control" type="hidden" value=@Model.time />
                                                <input asp-for="TOfferingItems_Input.InputSeq" class="form-control" type="hidden" value=@Model.inputSeq />
                                                <input type="submit" value="寫入" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }


            @if (Model.create && Model.inputSeq == null)
            {

                <tr>
                    <td>
                        @*<input asp-for="TOfferingBatch_Input.OfferingName" class="form-control" type="text" />*@

                        @* Select2 *@

                        <select class="form-control" id="offeringName-tags"></select>
                    </td>
                    <td>
                        @*<input asp-for="TOfferingBatch_Input.PersonNoNavigation.FirstName" class="form-control" type="text" />*@
                        <select class="form-control" id="englishName-tags"></select>
                    </td>
                    <td>
                        @*<input asp-for="TOfferingBatch_Input.PersonNo" class="form-control" type="text" />*@
                        <select class="form-control" id="personNo-tags"></select>
                    </td>
                    <td>
                        @*<input asp-for="TOfferingBatch_Input.PersonNoNavigation.MobilePhone" class="form-control" type="text" />*@
                        <select class="form-control" id="mobilePhone-tags"></select>
                    </td>
                    <td>
                        <input asp-for="TOfferingBatch_Input.TransactionType" class="form-control" type="text" />
                    </td>
                    <td>
                        <input asp-for="TOfferingBatch_Input.TransactionNo" class="form-control" type="text" />
                    </td>
                    <td>
                        <input asp-for="TOfferingBatch_Input.TotalAmt" class="form-control" type="text" />
                    </td>
                    <td>
                        <input asp-for="TOfferingBatch_Input.Remarks" class="form-control" type="text" />
                    </td>
                    <td>
                        <input type="submit" value="寫入" />
                        <input asp-for="TOfferingBatch_Input.Date" class="form-control" type="hidden" value="@Model.date.ToString("yyyy-MM-dd")" />
                        <input asp-for="TOfferingBatch_Input.Time" class="form-control" type="hidden" value="@Model.time" />
                    </td>
                </tr>

            }
        </tbody>
    </table>
</form>
<div class="box-footer">
    <pager source="Model.TOfferingBatch" />
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.0.0/umd/react.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.0.0/umd/react-dom.development.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prop-types/15.6.0/prop-types.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>

    $("#offeringName-tags").select2({

        tags: true,
        ajax: {

            url: "/OfferingBatches/RelatedData/PersonInfoList",
            dataType: 'json',
            delay: 1000,
            type: 'Get',
            data: function (params) {
                return {
                    offeringName: params.term, // search term
                };
            },
            processResults: function (data, params) {
                let items = [];

                data.map((d, i) => { items.push({ id: d.personNo, text: d.chineseName, ...d }); })
                                

                return {
                    results: items,
                };
            },
            cache: false
        },
     //   escapeMarkup: function (markup) { return markup; },
        minimumInputLength: 1,
        
    }).on("select2:select", function (e) {
        let data = e.params.data;
        console.log(data);
        $('#TOfferingBatch_Input_PersonNo').val(data.personNo);
        //$('#personNo-tags').val(data.personNo);
        var newState = new Option(data.personNo, data.personNo, true, true);
        $("#personNo-tags").append(newState).trigger('change');
        $('#TOfferingBatch_Input_MobilePhone').val(data.mobilePhone);
    })

</script>