﻿@page
@model MemberWebSys.Pages.OfferingBatches.RelatedBatchDeleteModel

<h3>確定删除此記錄?</h3>
<div>
    <h4>TOfferingBatch</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.Time)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.Time)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.InputSeq)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.InputSeq)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.PersonNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.PersonNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.OfferingName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.OfferingName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.TransactionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.TransactionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.TransactionNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.TransactionNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.TotalAmt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.TotalAmt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.Remarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.LastUpdateBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.LastUpdateBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.LastUpdateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.LastUpdateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TOfferingBatch.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TOfferingBatch.CreatedTime)
        </dd>
    </dl>

    @if (Model.err == null)
    {
        <form method="post">
            <input type="hidden" asp-for="TOfferingBatch.Date" />
            <input type="hidden" asp-for="TOfferingBatch.Time" />
            <input type="hidden" asp-for="TOfferingBatch.InputSeq" />
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    }
    else
    {
        <h4>請先刪除相關奉獻記錄</h4>
    }
</div>