﻿﻿@using System.Security.Claims
@using System.Web
@{
    var scopes = (Request.QueryString.Get("scope") ?? "").Split(' ');
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorize</title>
</head>
<body>
    <h1>Authorization Server</h1>
    <h2>OAuth2 Authorize</h2>
    <form method="POST">
        <p>Hello, @ViewBag.displayName</p>
        <p>A third party application want to do the following on your behalf:</p>
        <ul>
            @foreach (var scope in scopes)
            {
                <li>@scope</li>
            }
        </ul>
        <p>
            <input type="submit" name="submit.Grant" value="Grant" />
            <input type="submit" name="submit.Login" value="Sign in as different user" />
        </p>
    </form>
</body>
</html>
