﻿body{background: #ecf0f5;}
#header .navbar{background:#3A5795;}
#header .navbar a{color:#FFF;}
#header .navbar a:hover {background:#6E8AC6;}

.body-content {margin-top:20px;min-height:300px;margin-bottom:30px;}
.view-content{margin-top:10px;}
.form-control[readonly]{background:#FFF;}




.tree-level{padding:0;margin:0;margin-left:10px;}
.tree-level li{list-style:none;padding:0;margin:0;margin-top:-1px;}

.tree-level-0{margin:0;}
.hide-leaf > .tree-level {display:none;}

.treeview .has-leaf>a{border-left:5px solid #8AC66D;background: #FFF;}
.treeview .hide-leaf>a{border-left:5px solid #6E8AC6;background: #FFF;}
.treeview li>a{border:1px solid #d1d1d1;border-left:5px solid #C66D8A;background: #FFF;}

.treeview li.has-leaf > a .glyphicon{float:right;top: 4px;right:4px;}
.treeview .has-leaf > a > .glyphicon-menu-down {display:inline-block;}
.treeview .has-leaf > a > .glyphicon-menu-right {display:none;}
.treeview .hide-leaf > a > .glyphicon-menu-down {display:none;}
.treeview .hide-leaf > a > .glyphicon-menu-right {display:inline-block;}

.treeview a{display:block;color:#000;padding:5px 5px 5px 7px;text-decoration:none;font-size:18px;}
.treeview li a.active{background:#FCEDD4;font-weight:bold;}
.treeview li a span{display:none;font-size: 12px;}
.treeview li a.active span{display:inline-block;padding:0 5px;}

.uib-datepicker-popup{padding:0;}
.uib-datepicker table{background:#e87352;width:100%;}
.uib-datepicker table th{padding:10px;}
.uib-datepicker table td{padding:5px;}
.uib-datepicker .uib-left,
.uib-datepicker .uib-right{border:2px solid #FFF;border-radius:50%;font-size: 12px;line-height: 1;padding: 5px 6px;background:transparent;color:#FFF;}
.uib-datepicker table th button:active:hover{border:2px solid #FFF;background:#F3BBAC;color:#FFF;}
.uib-datepicker .uib-title{background:transparent;border:none;color:#FFF;}
.uib-datepicker .uib-title:hover{background:#F3BBAC;}
.uib-datepicker thead small{color:#FFF;}
.uib-datepicker tbody button{background:transparent;border:0;}
.uib-datepicker tbody button:hover .text-muted{color:#FFF;}
.uib-datepicker tbody button .text-muted{color:#88361f;}
.uib-datepicker tbody button{color:#FFF;}
.uib-datepicker tbody button:hover,
.uib-datepicker tbody button:active:hover{background:#BB3C18;color:#FFF;}
.uib-datepicker tbody .current{background:#F3BBAC;color:#88361f;}
.uib-datepicker tbody .current .text-info{color:#88361f;font-weight:bold;}
.uib-datepicker tbody button.active,
.uib-datepicker tbody button.active:hover{background:#BB3C18;color:#FFF;}
.uib-datepicker tbody button.active .text-info,
.uib-datepicker tbody button.active:hover .text-info{color:#FFF;}
.uib-datepicker tbody button.active .text-info,
.uib-datepicker tbody button.active:hover .text-info{color:#FFF;}



form .help-block.error{display:none;}
form .has-error>.help-block.error{display:block;}



.important-show{display:block !important;}
.important-hide{display:none !important;}




.navbar-toggle .icon-bar{background:#FFF;}
.nav > li > a:hover,
.nav > li > a:focus {background-color: inherit;}



.mb10{margin-bottom: 10px;}

.bg-grey {background:#f1f1f1;}



.aside .menu{padding:0;margin:0;margin-bottom:10px;}
.aside .menu li {list-style:none;}
.aside .menu li a{background:#FFF;display:block;padding:5px;color:#555;border-left:3px solid #ccc;box-shadow:#999 1px 1px 3px;text-decoration:none;font-size:18px;}
.aside .menu li a:hover,.aside .menu li a.active{background:#FCEDD4;border-left-color:#6E8AC6;}


@media(max-width: 767px){
	.treeview a{font-size:20px;padding:8px 8px 8px 10px;}
	.treeview li.has-leaf > a .glyphicon{font-size:20px;}

}




@media(max-width: 320px){
	.uib-datepicker table th{padding:7px;}
	.uib-datepicker table td{padding:2px;}
	.uib-datepicker tbody button{padding:5px;}
}