﻿@page
@model MemberWebSys.Pages.Member.DetailsModel

<form method="post">
    <div class="container-fluid">
        <div class="row">
            <h2>檢視</h2>

            <div class="col-md-6 ">
                <!--info-->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>@Html.DisplayNameFor(model => model.TPersonalInformation.PersonNo)</label><label>:    </label><label>@Html.DisplayFor(m => m.TPersonalInformation.PersonNo)</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">
                                    <div class="col-sm-6">
                                        <div align="center">
                                            @{
                                                if (Model.imgSrc != null && Model.imgSrc.Length > 0)
                                                {
                                                    <img src="@Model.imgSrc" runat="server" alt="" class="img-responsive" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/profile-placeholder.png" runat="server" alt="" class="img-responsive" />
                                                }
                                            }
                                        </div>

                                        <br>
                                    </div>


                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MemberCategory)</label></div><div class="col-sm-7 col-xs-6 "><label>@Html.DisplayFor(model => model.TPersonalInformation.MemberCategoryNavigation.MemberCategory)</label></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MemberId)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.MemberId)</label></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.IsStaff)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.IsStaff)</label></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.ChineseName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.ChineseName)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.FirstName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.FirstName)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.LastName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.LastName)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.DisplayName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.DisplayName)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Salutation)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Salutation)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.OldMemberId)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.OldMemberId)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Gender)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Gender)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Dob)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Dob)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.PlaceOfBirth)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.PlaceOfBirth)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.DeathDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.DeathDate)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MaritalStatus)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.MaritalStatus)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MarriageDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.MarriageDate) </label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>


                        </div>
                    </div>
                </div>

                <!-- Offering -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>奉獻設定</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.CombinedOffering)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.CombinedOffering)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.EnvelopeNo)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.EnvelopeNo)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.OfferingName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.OfferingName)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.ReceiptName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.ReceiptName) </label></div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <!-- Contact -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>聯絡</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.HomePhone)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.HomePhone)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MobilePhone)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.MobilePhone)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.WorkPhone)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.WorkPhone)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.HomeFax)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.HomeFax) </label></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.WorkFax)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.WorkFax)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Email)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Email)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Address)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Address)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MailAddress)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.MailAddress)</label></div>


                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>


                        </div>
                    </div>
                </div>

                <!-- Other -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>其他</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Nationality)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Nationality)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Origin)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.Origin)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.IdNo)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.IdNo)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.MotherTongue)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.MotherTongue) </label></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Dialect)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Dialect)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Education)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Education)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.OccupationType)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.OccupationType)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Occupation)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Occupation)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.CompanyName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.CompanyName)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Salary)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Salary)</label></div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <!-- religion -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>信仰</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.ConvictionDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.ConvictionDate)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.WaterBaptismDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.WaterBaptismDate)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.WaterBaptismChurch)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(@model => model.TPersonalInformation.WaterBaptismChurch)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.PreviousChurchName)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.PreviousChurchName) </label></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.AttendDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.AttendDate)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.JoinDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.JoinDate)</label></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.LeaveDate)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.LeaveDate)</label></div>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>


                <!-- Comment -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>備註</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label>@Html.DisplayNameFor(model => model.TPersonalInformation.Comment)</label></div><div class="col-sm-7"><label>@Html.DisplayFor(model => model.TPersonalInformation.Comment)</label></div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-1 ">
                <div class="col-md-1 ">
                    <a asp-page="./Index" asp-route-pageNo="@Model.PageNo" class="btn btn-primary btn-lg">返回</a>
                </div>
            </div>

            <div class="col-md-10 ">
            </div>

            <div class="col-md-1 ">
                <div class="form-group">
                    <div class="col-md-12 ">
                        <a asp-page="./Edit" asp-route-id="@Model.TPersonalInformation.PersonNo" asp-route-pageNo="@Model.PageNo" class="btn btn-primary btn-lg pull-right">修改</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>