﻿@page
@model MemberWebSys.Pages.Member.EditModel

<form method="post" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row">
            <h2>檢視</h2>

            <div class="col-md-6 ">
                <!--info-->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label asp-for="TPersonalInformation.PersonNo" class="control-label"></label><label>:    </label><label>@Html.DisplayFor(m => m.TPersonalInformation.PersonNo)</label><input type="hidden" asp-for="TPersonalInformation.PersonNo" /></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">
                                    <div class="col-sm-6">
                                        <div align="center">
                                            @{
                                                if (Model.imgSrc != null && Model.imgSrc.Length > 0)
                                                {
                                                    <img src="@Model.imgSrc" runat="server" alt="" class="img-responsive" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/profile-placeholder.png" runat="server" alt="" class="img-responsive" />
                                                }
                                            }
                                        </div>
                                        <div class="col-sm-5 col-xs-6 tital "></div><div class="col-sm-7 col-xs-6 "><input type="file" id="fileSelect" name="fileSelect" /></div>
                                        <br>
                                    </div>


                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MemberCategory" class="control-label"></label></div><div class="col-sm-7 col-xs-6 "><select asp-for="TPersonalInformation.MemberCategory" class="form-control" asp-items="ViewBag.MemberCategoryList"></select><span asp-validation-for="TPersonalInformation.MemberCategory" class="text-danger"></span></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MemberId" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.MemberId" class="form-control" /><span asp-validation-for="TPersonalInformation.MemberId" class="text-danger"></span></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.IsStaff" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.IsStaff" /><span asp-validation-for="TPersonalInformation.IsStaff" class="text-danger"></span></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.ChineseName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.ChineseName" class="form-control" /><span asp-validation-for="TPersonalInformation.ChineseName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.FirstName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.FirstName" class="form-control" /><span asp-validation-for="TPersonalInformation.FirstName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.LastName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.LastName" class="form-control" /><span asp-validation-for="TPersonalInformation.LastName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.DisplayName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.DisplayName" class="form-control" /><span asp-validation-for="TPersonalInformation.DisplayName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Salutation" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Salutation" class="form-control" /><span asp-validation-for="TPersonalInformation.Salutation" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.OldMemberId" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.OldMemberId" class="form-control" /><span asp-validation-for="TPersonalInformation.OldMemberId" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Gender" class="control-label"></label></div><div class="col-sm-7"><select asp-for="TPersonalInformation.Gender" class="form-control" asp-items="ViewBag.Gender"></select><span asp-validation-for="TPersonalInformation.Gender" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Dob" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Dob" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.Dob" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.PlaceOfBirth" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.PlaceOfBirth" class="form-control" /><span asp-validation-for="TPersonalInformation.PlaceOfBirth" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.DeathDate" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.DeathDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.DeathDate" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MaritalStatus" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.MaritalStatus" class="form-control" /><span asp-validation-for="TPersonalInformation.MaritalStatus" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MarriageDate" class="control-label"></label></div><input asp-for="TPersonalInformation.MarriageDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.MarriageDate" class="text-danger"></span>
                                </div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                        </div>


                    </div>
                </div>

                <!-- Offering -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>奉獻設定</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.CombinedOffering" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.CombinedOffering" class="form-control" /><span asp-validation-for="TPersonalInformation.CombinedOffering" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.EnvelopeNo" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.EnvelopeNo" class="form-control" /><span asp-validation-for="TPersonalInformation.EnvelopeNo" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.OfferingName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.OfferingName" class="form-control" /><span asp-validation-for="TPersonalInformation.OfferingName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.ReceiptName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.ReceiptName" class="form-control" /><span asp-validation-for="TPersonalInformation.ReceiptName" class="text-danger"></span></div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 ">
                <!-- Contact -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>聯絡</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.HomePhone" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.HomePhone" class="form-control" /><span asp-validation-for="TPersonalInformation.HomePhone" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.WorkPhone" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.WorkPhone" class="form-control" /><span asp-validation-for="TPersonalInformation.WorkPhone" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MobilePhone" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.MobilePhone" class="form-control" /><span asp-validation-for="TPersonalInformation.MobilePhone" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.HomeFax" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.HomeFax" class="form-control" /><span asp-validation-for="TPersonalInformation.HomeFax" class="text-danger"></span></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.WorkFax" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.WorkFax" class="form-control" /><span asp-validation-for="TPersonalInformation.WorkFax" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Email" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Email" class="form-control" /><span asp-validation-for="TPersonalInformation.Email" class="text-danger"></span> </div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Address" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Address" class="form-control" /><span asp-validation-for="TPersonalInformation.Address" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MailAddress" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.MailAddress" class="form-control" /><span asp-validation-for="TPersonalInformation.MailAddress" class="text-danger"></span></div>


                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>


                        </div>
                    </div>
                </div>

                <!-- Other -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>其他</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Nationality" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Nationality" class="form-control" /><span asp-validation-for="TPersonalInformation.Nationality" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Origin" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Origin" class="form-control" /><span asp-validation-for="TPersonalInformation.Origin" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.IdNo" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.IdNo" class="form-control" /><span asp-validation-for="TPersonalInformation.IdNo" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.MotherTongue" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.MotherTongue" class="form-control" /><span asp-validation-for="TPersonalInformation.MotherTongue" class="text-danger"></span></div>
                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Dialect" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Dialect" class="form-control" /><span asp-validation-for="TPersonalInformation.Dialect" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Education" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Education" class="form-control" /><span asp-validation-for="TPersonalInformation.Education" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.OccupationType" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.OccupationType" class="form-control" /><span asp-validation-for="TPersonalInformation.OccupationType" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Occupation" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Occupation" class="form-control" /><span asp-validation-for="TPersonalInformation.Occupation" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.CompanyName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.CompanyName" class="form-control" /><span asp-validation-for="TPersonalInformation.CompanyName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Salary" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Salary" class="form-control" /><span asp-validation-for="TPersonalInformation.Salary" class="text-danger"></span></div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <!-- religion -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>信仰</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.ConvictionDate" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.ConvictionDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.ConvictionDate" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.WaterBaptismDate" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.WaterBaptismDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.WaterBaptismDate" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.WaterBaptismChurch" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.WaterBaptismChurch" class="form-control" /><span asp-validation-for="TPersonalInformation.WaterBaptismChurch" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.PreviousChurchName" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.PreviousChurchName" class="form-control" /><span asp-validation-for="TPersonalInformation.PreviousChurchName" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.AttendDate" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.AttendDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.AttendDate" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.JoinDate" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.JoinDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.JoinDate" class="text-danger"></span></div>

                                    <div class="clearfix"></div>
                                    <div class="bot-border"></div>

                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.LeaveDate" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.LeaveDate" class="form-control" type="date" /><span asp-validation-for="TPersonalInformation.LeaveDate" class="text-danger"></span></div>

                                </div>


                            </div>


                        </div>
                    </div>
                </div>

                <!-- Comment -->
                <div class="col-md-12 ">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4><label>備註</label></h4>
                        </div>
                        <div class="panel-body">

                            <div class="box box-info">

                                <div class="box-body">

                                    <div class="clearfix"></div>
                                    <hr style="margin:5px 0 5px 0;">


                                    <div class="col-sm-5 col-xs-6 tital "><label asp-for="TPersonalInformation.Comment" class="control-label"></label></div><div class="col-sm-7"><input asp-for="TPersonalInformation.Comment" class="form-control" /><span asp-validation-for="TPersonalInformation.Comment" class="text-danger"></span></div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="TPersonalInformation.AllowLogin" />
                    <span asp-validation-for="TPersonalInformation.AllowLogin" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-1 ">
                <div class="col-md-1 ">
                    <a asp-page="./Index" asp-route-pageNo="@Model.PageNo" class="btn btn-primary btn-lg">返回</a>
                </div>
            </div>

            <div class="col-md-10 ">
            </div>

            <div class="col-md-1 ">
                <div class="form-group">
                    <div class="col-md-12 ">
                        <input type="submit" value="儲存" class="btn btn-primary btn-lg pull-right" />
                    </div>
                </div>
            </div>

        </div>
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}