﻿@page
@model MemberWebSys.Pages.Member.IndexModel

@using Sakura.AspNetCore;

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <a asp-page="Create" asp-route-p=@Model.pNo>Create New</a>
                <div class="row filter-form">
                    <form>
                        <div class="col-sm-3 form-group">
                            <select class="form-control" asp-for="mbrCategory">
                                <option value="0">--Member Category--</option>
                                @foreach (var item in Model.TMemberCategory)
                                {
                                    if (item.MemberCategoryId != 1)
                                    {
                                        <option value="@item.MemberCategoryId">@Html.DisplayFor(modelItem => item.MemberCategory)</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-xs-3 col-md-2 form-group">
                            <input type="text" name="searchStr">
                        </div>
                        <div class="col-sm-1 form-group">
                            <button class="btn btn-primary" type="submit">Filter</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].PersonNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].MemberCategoryNavigation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].DisplayName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].ChineseName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].Salutation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].HomePhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].WorkPhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].MobilePhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TPersonalInformation[0].Dob)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.TPersonalInformation)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PersonNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MemberCategoryNavigation.MemberCategory)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChineseName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Salutation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.HomePhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WorkPhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobilePhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Dob)
                                </td>

                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.PersonNo" asp-route-pageNo=@Model.pNo>Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.PersonNo" asp-route-pageNo=@Model.pNo>Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                <pager source="Model.TPersonalInformation" />
            </div>
        </div>
    </div>
</div>
