﻿<!DOCTYPE html>
@using AuthorizationServer.API.ViewModels
@model VMLoginUser
@{
    ViewBag.Title = "登入";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/theme.css" />
    <link rel="stylesheet" href="/Content/AdminLTE.min.css" />
    <link rel="stylesheet" href="/Content/icheck/blue.css" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            611系統
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            @using (Html.BeginForm("Login", "User", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                if (ViewBag.ErrorCode == 401)
                {
                    <div class="alert alert-danger">操作逾時，請重新登入。</div>
                }
                <div class="form-group has-feedback">
                    <label for="ïd611">611編號<sup>?</sup> 或 電郵地址</label>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group has-feedback">
                    <label for="Password">密碼<sup>?</sup></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                記住我
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">登入</button>
                    </div>
                    <!-- /.col -->
                </div>
            }
            <a href="http://register.church611.org/user/forgotpassword">忘記密碼</a><br>

        </div>
        <!-- /.login-box-body -->
    </div>

    <div id="footer">

    </div>

    <script type="text/javascript" src="~/scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="~/scripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/scripts/icheck.min.js"></script>
    <script type="text/javascript" src="~/scripts/adminlte.js"></script>
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_flat-blue',
          radioClass: 'iradio_flat-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>

</body>
</html>
